body{
    background-color: #f8f6f6;
}

.navbar a.navbar-brand {
    color: #FEFBF6;
    font-weight: bold;   
    font-size: 20px;
}

.navbar-expand-sm .navbar-nav .nav-link{
    color: #FEFBF6;
}

.navbar-expand-sm .navbar-nav .nav-link:hover{
    text-decoration: underline;
}


button a{
    text-decoration: none;
    color: #fff;
}

.card-header{
    background-color: #AEC2B6;
}


.header-table{
    background-color: #AEC2B6 ;
}

table th{
    color:#fff;
    
}

table td a{
    color:#94AF9F;
    padding-left: 8px;
}

table td a:hover{
    color:#111;
}


.red-row {
    color: yellow;
}

.yellow-row {
    color: red;
}
                        

.qtdProduct{
    margin-left: 5px;
    border: 1px solid #fff;
    padding: 1px 3px 1px 3px;
    color: red;
    background-color: white;
    border-radius: 30px;
}

.alert-custom{
    margin-top: 70px;
    margin-bottom: -80px;
}

.required::after {
    content: "*";
    color: red; /* Cor do asterisco */
    margin-left: 3px;
}

a.new-supplier{
    color:#fff;
}

a.new-supplier:hover{
    color: #94AF9F;
}